ul#restaurants-list {
  grid-template-columns: repeat(3, 1fr);
}

/* Macro */
#headerspacer {
  height: 128px; /* calc(#{$header-height} + #{$subheader} - 1px) */
  background-color: coral;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  position: fixed;
  right: 0;
  width: 50%;
  height: 100vh;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: calc(50% - 80px);
}

.inside #footer {
  width: calc(50% - 50px);
}
